*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

:root{
    --defult-color:#E95A08;
    --text-color:#6B7280;
    --hover:#e95a0875;
}

/* navbar section */

.heroArea{
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img{
  width: 135px;
  height: 82px;
  object-fit: cover;
}


.nav-link{
    display: flex;
    gap: 30px;
}

.nav-item{
     display: flex;
     gap: 20px;
     list-style: none;
}


.nav-item  li  a{
   font-size: 20px;
   text-decoration: none;
   color: gray;
   opacity: 80%;
   transition: color ease-in-out 0.7s;
}


.nav-item li .active{
    color: black;
}


.nav-item li a:hover{
    color: black;
}


.navimg{
    display: flex;
    gap: 10px;
    align-items: center;
}


.navimg span{
    font-size: 20px;
}


/* hero section */

.hero-section{
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 180px;
}


.hero-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.hero-text  h1{
    font-size: 50px;
    font-weight: bold;
    padding-bottom: 10px;
}



.h-color{
    color: var(--defult-color);
}

.text-span{
    font-size: 50px;
    font-weight: bold;
    padding-bottom: 10px;
}

.hero-text p{
    width: 570px;
    margin-top: 10px;
    font-size: 17px;
    line-height: 1.3;
    color: var(--text-color);
}


.hero-img img{
   width: 100%;
   height: auto;
}



.plants-section{
    max-width: 1200px;
    margin:  0 auto;
    margin-top: 100px;
}


.plants_text_content{
    text-align: center;
}

.plants-title{
    font-size: 50px;
    font-weight: bold;
    padding-bottom: 20px;
}

.plants-title span{
    color: var(--defult-color);
}

.plants-text{
    width: 100%;
    max-width: 888px;
    margin: 0 auto;
    line-height: 1.5;
    color: var(--text-color);
}



.plants-grid-content{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 30px;
    gap: 20px;
    width: 100%;
    padding: 10px;
}


.plants-cards{
    transition: all 0.6s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2px;
    width: 100%;
    box-sizing: border-box;
}

.plants-cards:hover{
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
    transform: scale(1.02);
}



.plants-img{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}


.card-conent{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-conent span{
    font-size: 20px;
    font-weight:normal;
}

.card-conent h3{
    font-weight: bold;
    font-size: 20px;
    padding-top: 8px;
}


.card-conent .card-btn{
   background-color: var(--defult-color);
   width: 100%;
   border: none;
   padding: 20px 80px;
   margin-top: 20px;
   border-radius: 6px;
   color: white;
   font-size: 16px;
   cursor: pointer;
   transition: all ease-in-out 0.7s;
}


.card-conent .card-btn:hover{
    background-color: var(--hover);
}


/* Flower-section */

.Flower-section{
    max-width: 1200px;
    margin: 0 auto;
   padding-top: 150px;
   position: relative;
}

.Flower_content{
    display: flex;
    gap: 50px;
    align-items: start;
}

.Flower_left{
    width: 50%;
}

.Flower_left img{
    width: 100%;
    height: auto;
}

.Flower_right{
    width: 50%;
    margin-top: 20px;
}


.Flower_right h1{
    font-weight: bold;
    font-size: 50px;
}

.Flower_right ul {
    margin-bottom: 50px;
}

.Flower_right ul li{
    font-size: 18px;
    color: var(--text-color);
    line-height: 1.9;
    margin-top: 30px;
}

.delfut-img{
    position: absolute;
    top: 0;
    left: 380px;
}

.delfut-img img{
    width: 286px;
    height: 286px;
    object-fit: cover;
}

/*  Latest  Deals */

.Latest-Deals-section{
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 100px;
}


.Lastest-text-content{
     text-align: center;
}


.Lastest-title{
    font-size: 50px;
    font-weight: bold;
    padding-bottom: 10px;
}

.Lastest-text{
    width: 888px;
    margin: 0 auto;
    color: var(--text-color);
    font-size: 17px;
}



.Lastest-img-Content{
    margin-top: 150px;
    display: flex;
    gap: 30px;
}

.Lastest-left{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.parent{
    position: relative;

}


.parent img{
    border-radius: 20px;
    background: radial-gradient(circle, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9));
}



.child{
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    text-align: center;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



.child h3{
    font-size: 25px;
    font-weight: bold;
    color: white;
}

.child a {
    padding-top: 10px;
    font-size: 18px;
    color: white;
}


.colorfull-section{
    background-image: url(assets/news-letter-bg.png);
    background-repeat: no-repeat;
    width: 100%;
    object-fit: cover;
    background-size: cover;
    height: 553px;
    margin-top: 40px;
}


.colorful-content{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
  padding-top: 200px;
}


.colorful-content h1{
    color: white;
    font-weight: bold;
    font-size: 50px;
}


.input-button{
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    max-width: 880px
}

.input-button input{
    width: 80%;
    padding: 15px;
    border-radius: 10px  0  0  10px;
    border: none;
}

.input-button button{
    background-color: orangered;
    padding: 5px 35px;
    border: none;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
    transition: all ease-in-out 0.7s;
}

.input-button button:hover{
    background-color: var(--hover);
}



.footer-section{
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 0;
}

.footer-content{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    padding-bottom: 20px;
}

.footer-title{
    grid-column: span 2;
}

.footer-title p {
   color: var(--text-color);
   font-size: 25px;
   line-height: 1.6;
   max-width: 359px;
   margin-top: 3px;
}

.footer-link{
    list-style: none;
}


.footer-link li {
    margin-top: 30px;
}



.footer-link li a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 20px;
    transition: color ease-in-out 0.6s;
}


.footer-link li a:hover{
    color: black;
}


.footer-icone{
    display: flex;
    gap: 30px;
}

.footer-icone img{
    width: 36px;
    height: 36px;
    cursor: pointer;
}


/* responsive tablet */

@media (max-width: 1200px){
   .hero-text  h1{
    font-size: 45px;
}

.text-span{
    font-size: 45px;
}

.hero-text p{
   width: 80%;
}

.plants-grid-content{
  grid-template-columns: repeat(3, 1fr);
}


.Lastest-img-Content{
    flex-direction: column;
    align-items: center;
}

.Lastest-left{
    display: flex;
    flex-direction:row;
    gap: 30px;
    justify-content: center;
    align-items: center;
}



}

@media (max-width: 900px){
    .plants-grid-content{
  grid-template-columns: repeat(2, 1fr);
}

.footer-content{
     grid-template-columns: repeat(2, 1fr);
    margin: 20px;

}




}


/* responsive mobile device 
*/@media (max-width: 768px){
    .nav-item{
      display: none;
   }

 .hero-content{
    flex-direction: column-reverse;
    justify-content: center;
    gap: 20px;
}


.hero-text  h1{
    font-size: 30px;
}


.text-span{
    font-size: 30px;
}

.hero-text p{
   width: 100%;
}

.plants-title{
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 20px;
}

.plants-text{
    width: 100%;
    font-size: 16px;
}


.plants-grid-content{
  grid-template-columns: repeat(2, 1fr);
}

.Flower_content{
   flex-direction: column;
   justify-content: center;
   align-items: center;
}



.delfut-img{
    display: none;
    
}


.Flower_right{
    width: 100%;
    margin-top: 20px;
}

.Flower_left{
    width: 100%;
}


.Lastest-img-Content{
    flex-direction: column;
    align-items: center;
}

.Lastest-left{
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
}


.Lastest-img-Content{
   width: 100%;
}

.parent img{
   width: 500px;
}


.Lastest-text{
    width: 100%;
}

.Lastest-title{
    font-size: 35px;
    font-weight: bold;
    padding-bottom: 10px;
}





.colorful-content h1{
    font-size: 30px;
}


.footer-content{
    display: grid;
  
    gap: 20px;
    padding-bottom: 20px;
}


.footer-content{
    grid-template-columns: repeat(1, 1fr);
    margin: 20px;
}


.footer-title{
    grid-column: span 1;
}

.footer-title p {
}


}




/* smoll deviced */

@media (max-width: 550px){
    .plants-grid-content{
  grid-template-columns: repeat(1, 1fr);
}

.parent img{
   width: 350px;
}


}